* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;

}

body {
    width: 100%;
    height: 756px;
    background: #092e57;

}

.caixa-mae {
    width: 100%;
    height: 300px;
}

.menu {

    width: 100%;
    height: 50px;
    background-color: rgba(250, 250, 34, 0.911);
}



.logo {

    width: 80px;
    margin-top: 10px;
    margin-left: 30px;

}

.logo-image {

    display: inline-block;
    margin-left: 0;
}

a {

    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 1500px;
    bottom: 10px;
}

.foto-politico {
    width:auto;
    height:auto;
    background: none;
    display: flex;
    position:relative; top: -950px;
    margin-bottom: 50px;

}

.logos-numero {

    width: 603px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 778px;
    top: 252px;
}

.logo-amarela {

    width: 600px;
    margin-left: -104px;
}

.logo-numero {

    width: 603px;
    margin-top: 261px;
    border-radius: ;
    
}

a:hover {
    color: #127de9;

}

.section-01 {

    box-sizing: border-box;
    width: 100%;
    height:750px
}


    .imagem-fundo {

        width: 100%;
        background: #104274;
        clip-path: polygon(100% -1%, 0 -1%, 50% 235%);
    }

    img {

        width: 100%;
        height:auto;
    }

    .body-01 {

        background: rgba(250, 250, 34, 0.911);
    }

    .sobre {

        text-decoration: none;
        color: black;
    }

    .carta {

        width: auto;
        position: relative; left: 540px;
    }
    
    .link-propostas {

        text-decoration: none;
        color: black;

    }

    
    h1 {

        color: #104274;
        margin-top: 20px;
        text-align: center;
    }


    h3 {

        width: 700px;
        color: #104274;
        text-align: center;
    }

    .slider {

        display: block;
        height: 293px;
        width: 600px;
        margin: auto;
        margin-top: 20px;
        position: relative;
    }

    li {
        list-style: none;
        position: absolute;
    }

    .image-slider {

        margin: auto;
        height: 100%;
        width: 100%;
        vertical-align: top;
    }

    input {
        display: none;
    }

    label {
        background-color: #000;
        bottom: 10px;
        cursor: pointer;
        display: block;
        height: 15px;
        position:relative;
        width: 15px;
        z-index: 10;
        color: azure;
    }

    .slider li:nth-child(1) label {
        left: 10px;
    }

    .slider li:nth-child(2) label {
        left: 40px;
    }

    .slider li:nth-child(3) label {
        left: 70px;
    }

    .slider li:nth-child(4) label {
        left: 100px;
    }

    .slider li:nth-child(5) label {
        left: 130px;
    }

    .slider img {

        opacity: 0;
        visibility: hidden;
    }

    .slider li input:checked ~ img {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }
    

   
 

   